<div class="container">
<div class="row">
    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Login as a Freelancer</h5>
          <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
          <a  class="btn btn-primary" [routerLink]="['/freelancerlogin']" >Login</a>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Login as a Client</h5>
          <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
          <a  class="btn btn-primary" [routerLink]="['/clientlogin']" >Login</a>
        </div>
      </div>
    </div>
  </div>
</div>